In [ ]:
# Let's get all the PDFs eh! This takes ages - it's about 500mb for each period!

import requests
from bs4 import BeautifulSoup

pdfs = []

urls = {
    "http://www.finance.gov.au/publications/parliamentarians-reporting/parliamentarians-expenditure-P36/":"36",  
}    

for url in urls.keys():
    rep = requests.get(url)
    soup = BeautifulSoup(rep.content)
    links = soup.find_all("a")
    for l in links:
        try:
            if "pdf" in l.get("href"):
                pdfs.append(l.get("href"))
        except:
            pass



def download_file(url):
    downloaded = !cd pdfs:ls
    local_filename = url.split('/')[-1]
    if "30" in url:
        local_filename = "P30-"+local_filename
    if "31" in url:
        local_filename = "P31-"+local_filename
    if local_filename not in downloaded:
        # NOTE the stream=True parameter
        r = requests.get(url, stream=True)
        with open('pdfs/'+local_filename, 'wb') as f:
            for chunk in r.iter_content(chunk_size=1024): 
                if chunk: # filter out keep-alive new chunks
                    f.write(chunk)
                    #f.flush() commented by recommendation from J.F.Sebastian
        return local_filename
    
    
for pdf in pdfs:
    download_file(pdf)

/Applications/anaconda/lib/python2.7/site-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [7]:
# Next, let's check about all potential categories by looking at what terms are on the summary page - for all pdfs.

sumref = {} # This is to find the summary reference page for all pdfs

localpdfs = !cd pdfs;ls # Gets the filenames

import pdfquery

def get_page(x,y): # this takes the pdfquery object and a list of pages to test (including None as catchall)
    for page in y:
        if page != None:
            x.load(page)
            titles = x.pq(":in_bbox('170.979,683.267,438.506,699.868')")
            for t in titles:
                if t.text.strip() == 'Summary of Parliamentary Expenditure by Period':
                    return int(page) # This returns the page
        else:
            x.load()
            tree = x.get_tree() # This is a last resort - search (and load!) the whole pdf to search for the summary
            for element in tree.iter():
                if element.text != '':
                    if element.text != None:
                        if element.text.strip() == 'Summary of Parliamentary Expenditure by Period':
                            for part in element.iterancestors(tag="LTPage"):
                                pageref = part.get("page_index")
                                return int(pageref)


# First, let's find the summary page for everyone
for pdffile in localpdfs:
    pdf = pdfquery.PDFQuery("pdfs/"+pdffile)
    sumref[pdffile] = get_page(pdf,[2,8,5,None]) # The most common pages are 2,8 and 5 - save time by trying these first

In [10]:
# This checks whether the total expenditure and the items added up are equal to each other.

import ast

import pandas as pd
from IPython.display import display
import collections                                         

def get_sum(x,y): #This takes the pdf and the page reference and produces summary stats
    refs = {}
    data = []

    colcounter = []
    colrefs = set()
    coldata = {}
    
   
    summary = x.get_tree(y)
    
    count = 0
    for element in summary.iter(): # this gets the name. It's the second text element on the page, so we need a count.
        if element.text != None:
            if element.text != '':
                count += 1
                if count == 2:
                    nom = element.text.strip()
                    break
                
    for element in summary.iter(): # This checks where the family expenses kick in
        if element.tag != "pdfxml":
            if element.text != '':
                if ast.literal_eval(element.get("bbox"))[0] in [39.146,52.106]:
                    refs[ast.literal_eval(element.get("bbox"))[1]] = element.text.strip()
                    if "Family Travel Costs" == element.text.strip():
                        family = ast.literal_eval(element.get("bbox"))[1]
                #print element.text,ast.literal_eval(element.get("bbox"))
    #print 'refs',refs
    
    # This gets the column positions for the data
    for element in summary.iter():
        if element.tag != "pdfxml":
            if element.text != '':
                if ast.literal_eval(element.get("bbox"))[1] in refs.keys():
                    if '$' in element.text:
                        colcounter.append(int(ast.literal_eval(element.get("bbox"))[2]))
                        #data[refs[ast.literal_eval(element.get("bbox"))[1]]] = element.text
    
    #print 'colcounter',colcounter
    counter = collections.Counter(colcounter)
    for group in counter.most_common():
        if group[1] > 5: # This removes footnotes stuffing up the column alignment
            colrefs.update([group[0]])
    #print 'colrefs',colrefs
    
    # This creates a string for each data column                    
    for ref in colrefs:
        coldata[ref] = ''

    # This creates the string for each column
    for element in summary.iter():
        if element.tag != "pdfxml":
            if element.text != '':
                for ref in colrefs:
                    if -1 < ref-ast.literal_eval(element.get("bbox"))[2] < 1:
                        if '$' not in element.text:
                            coldata[ref]+=element.text
    #print 'coldata',coldata
    
    # This gets the location of the Family Travel Costs divider and appends Family Travel Costs to 
    # Line items below, excluding Total Expenditure
    for r in refs.keys():
        if r < family:
            if refs[r] != 'Total Expenditure':
                refs[r] = refs[r] + ' - Family'                        

    # This gets the data
    for element in summary.iter():
        if element.tag != "pdfxml":
            if element.text != '':
                for ref in refs.keys():
                    if ast.literal_eval(element.get("bbox"))[1] == ref:
                        for col in coldata.keys():
                            if -1<ast.literal_eval(element.get("bbox"))[2]-col<30: # This checks to see if the data bounding box matches up to the column (with some fat to allow for footnotes)
                                if " " in element.text:
                                    data.append([nom,refs[ref],coldata[col],float(element.text.replace("$","").replace(",","").split(" ")[0])])
                                else:
                                    data.append([nom,refs[ref],coldata[col],float(element.text.replace("$","").replace(",",""))])
    return data,coldata

bigdata = []

for name in sumref.keys():
    pdf = pdfquery.PDFQuery("pdfs/"+name)
    result = get_sum(pdf,sumref[name])
    for part in result[0]:
        bigdata.append(part)
    #df = pd.DataFrame(part,columns=['Name','Type','Period','Amount'])
    # Testing expenditure tally
    #for period in result[1].values():
    #    if not -0.01 < round(df[(df['Type']!='Total Expenditure')&(df['Period']!=period)]['Amount'].sum(),2) - round(df[(df['Type']=='Total Expenditure')&(df['Period']!=period)]['Amount'].sum(),2) < 0.01:
    #        print name,period
df = pd.DataFrame(bigdata,columns=['Name','Type','Period','Amount'])

ValueError: Shape of passed values is (1, 4), indices imply (4, 4)

In [95]:
df['Name']

0     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
1     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
2     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
3     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
4     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
5     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
6     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
7     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
8     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
9     <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
10    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
11    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
12    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
13    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
14    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
15    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
16    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
17    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
18    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
19    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
20    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
21    <LTTextBoxHorizontal bbox="[44.536, 518.031, 3...
Name: Name, dtype: object

In [76]:
# error in Melissa Park - it overstates her expenses
for name in ['P35_PARKE_Melissa.pdf']:
    pdf = pdfquery.PDFQuery("pdfs/"+name)
    result = get_sum(pdf,sumref[name])

    df = pd.DataFrame(result[0],columns=['Type','Period','Amount'])
    display(df)
    # Testing expenditure tally
    for period in result[1].values():
        print round(df[(df['Type']!='Total Expenditure')&(df['Period']!=period)]['Amount'].sum(),2)
        print round(df[(df['Type']=='Total Expenditure')&(df['Period']!=period)]['Amount'].sum(),2)
        if not -0.01 < round(df[(df['Type']!='Total Expenditure')&(df['Period']!=period)]['Amount'].sum(),2) - round(df[(df['Type']=='Total Expenditure')&(df['Period']!=period)]['Amount'].sum(),2) < 0.01:
            print name,period

,Type,Period,Amount
0,Parliamentary Travelling Allowance,Expenses From 1 July 2014,7148.00
1,Fares,Expenses From 1 July 2014,27286.76
2,Private-Plated Vehicle,Expenses From 1 July 2014,5010.98
3,COMCAR,Expenses From 1 July 2014,1398.58
4,Cabcharge,Expenses From 1 July 2014,40.87
5,Other Car Costs,Expenses From 1 July 2014,0.00
6,Office Consumables and Services,Expenses From 1 July 2014,5702.22
7,Printing and Communications,Expenses From 1 July 2014,25704.41
8,Publications,Expenses From 1 July 2014,1523.99
9,Telecommunications - Usage,Expenses From 1 July 2014,3020.24
10,Parliamentary Travelling Allowance,Expenses Before 1 July 2014,3341.00
11,Fares,Expenses Before 1 July 2014,3203.69
12,Private-Plated Vehicle,Expenses Before 1 July 2014,194.99
13,COMCAR,Expenses Before 1 July 2014,202.00
14,Cabcharge,Expenses Before 1 July 2014,60.44
15,Other Car Costs,Expenses Before 1 July 2014,514.03
16,Office Consumables and Services,Expenses Before 1 July 2014,250.98
17,Printing and Communications,Expenses Before 1 July 2014,3556.07
18,Publications,Expenses Before 1 July 2014,597.44
19,Telecommunications - Usage,Expenses Before 1 July 2014,0.00
20,Domestic Scheduled Fares - Family,Expenses From 1 July 2014,0.00
21,Total Expenditure,Expenses From 1 July 2014,134414.50
22,Domestic Scheduled Fares - Family,Expenses Before 1 July 2014,1521.08
23,Total Expenditure,Expenses Before 1 July 2014,15613.07
24,Overseas Travel,Expenses From 1 July 2014,0.00
25,Overseas Travel,Expenses Before 1 July 2014,0.00
26,Charter,Expenses From 1 July 2014,0.00
27,Charter,Expenses Before 1 July 2014,0.00
28,Office Facilities,Expenses From 1 July 2014,52567.47
29,Office Facilities,Expenses Before 1 July 2014,1976.36
30,Office Fit Outs,Expenses From 1 July 2014,0.00
31,Office Fit Outs,Expenses Before 1 July 2014,0.00

129403.52
134414.5
P35_PARKE_Melissa.pdf Expenses Before 1 July 2014
15418.08
15613.07
P35_PARKE_Melissa.pdf Expenses From 1 July 2014

In [107]:
for name in ['P35_PARKE_Melissa.pdf']:
    pdf = pdfquery.PDFQuery("pdfs/"+name)
    tree = pdf.get_tree(2)
    for element in tree.iter():
        if element.text != None:
            if element.text != '':
                print element.text

1 July to 31 December 2014
The Hon Melissa Parke MP
Summary of Parliamentary Expenditure by Period
Expenses From
1 July 2014
Expenses Before
1 July 2014
Parliamentary Travelling Allowance
Fares
Private-Plated Vehicle
COMCAR
Cabcharge
Other Car Costs
Office Consumables and Services
Printing and Communications
Publications
Telecommunications - Usage
Domestic Scheduled Fares
Total Expenditure
1 Includes an adjustment of -$25.00
2 Includes an adjustment of -$25.00
$7,148.00
$27,286.76
1
$5,010.98
$1,398.58
$40.87
$0.00
$5,702.22
$25,704.41
$1,523.99
$3,020.24
$3,341.00
$3,203.69
$194.99 2
$202.00
$60.44
$514.03
$250.98
$3,556.07
$597.44
$0.00
$0.00
$134,414.50
$1,521.08
$15,613.07
Travelling Allowance
Overseas Travel
$0.00
$0.00
Domestic Scheduled Fares
Charter
$0.00
$0.00
Car Costs
Office Facilities
$52,567.47
$1,976.36
Office Fit Outs
$0.00
$0.00
Office Administrative Costs
Telecommunications
Family Travel Costs
Page 2 of 22

In [104]:
for element in tree.iter():
    if element.text != None:
        if element.text != '':
            print element.text
            break

The Hon Melissa Parke MP

In [177]:
# Let's get some values about the doc. This will also give us information about what information to expect.

### First, check what kind of expenses are in there, and whether there are family expenses, 
# and return what pages they are on.

# These are our important categories:
# Travelling Allowance / Parliamentary Travelling Allowance
# Overseas Travel
# Domestic Scheduled Fares / Fares
# Car Costs / Private-Plated Vehicle
# Car Costs / COMCAR
# Car Costs / Cabcharge
# Office Administrative Costs / Office Consumables and Services
# Office Administrative Costs / Printing and Communications
# Office Administrative Costs / Publications
# Telecommunications / Telecommunications - Usage
# Telecommunications / Telecommunications - Residential - Official
# Family Travel Costs / various

cats = [
    "Travelling Allowance / Parliamentary Travelling Allowance",
"Overseas Travel",
"Domestic Scheduled Fares / Fares",
"Car Costs / Private-Plated Vehicle",
"Car Costs / COMCAR",
"Car Costs / Cabcharge",
"Office Administrative Costs / Office Consumables and Services",
"Office Administrative Costs / Printing and Communications",
"Office Administrative Costs / Publications",
"Telecommunications / Telecommunications - Usage",
"Telecommunications / Telecommunications - Residential - Official",
"Family Travel Costs / various",
"Summary of Parliamentary Expenditure by Period / "
]


import ast

pagerefs = {} # This is to record the page refs for the various categories

dics = {} # This holds all our data



for i,element in enumerate(tree.iter()):
    
    # This runs through each element...
    if element.tag != "pdfxml": # excludes the first container element
        if element.text != '': # excludes empty elements
            if element.text != None: # excludes other empty elements
                for c in cats: # This finds what page each of the important categories is on
                    if c.split(" / ")[0] in element.text.strip():
                        for pageno in element.iterancestors(tag="LTPage"):
                            pagerefs.setdefault(c.split(" / ")[0], set()).update([int(pageno.get("page_index"))])

    # This part repeats the same as above, but is for collecting the data.
    if element.tag != "pdfxml": # excludes the first container element
        if element.text != '': # excludes empty elements
            if element.text != None: # excludes other empty elements
                # This part adds all the data elements to the dics disctionary is they line up horizontally.
                #if round(ast.literal_eval(element.get("bbox"))[1],1) in dics[page].keys():
                    #print page,element.text,element.get("bbox")
                #    dics[page][round(ast.literal_eval(element.get("bbox"))[1],1)].append(element.text)
                #else:
                    #print page,element.text,element.get("bbox")
                #    dics[page][round(ast.literal_eval(element.get("bbox"))[1],1)] = [element.text]
                pass

pagerefs

{'Car Costs': {1, 2, 4, 10, 11, 12, 13, 14, 23, 26},
 'Domestic Scheduled Fares': {2, 4, 8, 9, 21, 23, 25, 30},
 'Family Travel Costs': {2, 4, 21, 23, 30},
 'Office Administrative Costs': {2, 4, 17, 18, 19, 23, 28},
 'Overseas Travel': {2, 4, 6, 7},
 'Summary of Parliamentary Expenditure by Period': {2},
 'Telecommunications': {1, 2, 4, 20, 23, 29},
 'Travelling Allowance': {2, 4, 5, 23, 24}}

Expenditure checks out?
----
EXPENSES BEFORE 1 JULY 2014
Item tally: 193815.97
Total     : 193815.97
-----
EXPENSES FROM 1 JULY 2014
Item tally: 15039.78
Total     : 15039.78
-----

In [168]:
pagerefs

{'Car Costs': {'1', '10', '11', '12', '13', '14', '2', '23', '26', '4'},
 'Domestic Scheduled Fares': {'2', '21', '23', '25', '30', '4', '8', '9'},
 'Family Travel Costs': {'2', '21', '23', '30', '4'},
 'Office Administrative Costs': {'17', '18', '19', '2', '23', '28', '4'},
 'Overseas Travel': {'2', '4', '6', '7'},
 'Summary of Parliamentary Expenditure by Period': {'2'},
 'Telecommunications': {'1', '2', '20', '23', '29', '4'},
 'Travelling Allowance': {'2', '23', '24', '4', '5'}}

In [185]:
# Third, let's get how many expenses are in each category.

for cat in pagerefs.keys()[:1]:
    print cat
    for page in pagerefs[cat]:
        if int(page) > 4: # this ignores the first four pages - summary and cover pages
            print page
            tree = pdf.get_tree(page)
            for element in tree.iter():
                if element.text != None:
                    if element.text != '':
                        if element.text.strip() == 'Family':
                            print 'family',ast.literal_eval(element.get('bbox'))
                        if element.text.strip() == 'Private-Plated Vehicle':
                            print 'pp',ast.literal_eval(element.get('bbox'))
                        if element.text.strip() == 'COMCAR':
                            print 'cc',ast.literal_eval(element.get('bbox'))
                        if element.text.strip() == 'Cabcharge':
                            print 'cab',ast.literal_eval(element.get('bbox'))

Car Costs
10
pp [30.362, 673.077, 140.462, 688.401]
cc [30.362, 297.669, 75.662, 312.993]
11
cc [30.362, 673.077, 75.662, 688.401]
12
cc [30.362, 673.077, 75.662, 688.401]
13
cc [30.362, 673.077, 75.662, 688.401]
cab [30.362, 145.533, 82.406, 160.857]
14
cab [30.362, 673.077, 82.406, 688.401]
23
pp [80.618, 497.177, 169.938, 509.887]
cc [80.618, 480.185, 117.638, 492.895]
cab [80.618, 463.193, 123.398, 475.903]
26
pp [30.362, 673.077, 140.462, 688.401]
cc [30.362, 531.525, 75.662, 546.849]
cab [30.362, 389.973, 82.406, 405.297]

In [ ]:


# Fourt, let's compare the expenses with the totals.

In [18]:
import ast

page = 0
dics = {}
for i,element in enumerate(tree.iter()):
    if element.tag == "LTPage":
        page = element.get("page_index")
        dics[page]={}
    if element.tag != "pdfxml":
        if element.text != '':
            if element.text != None:
                if round(ast.literal_eval(element.get("bbox"))[1],1) in dics[page].keys():
                    print page,element.text,element.get("bbox")
                    dics[page][round(ast.literal_eval(element.get("bbox"))[1],1)].append(element.text)
                else:
                    print page,element.text,element.get("bbox")
                    dics[page][round(ast.literal_eval(element.get("bbox"))[1],1)] = [element.text]

0 Ms Gai Brodtmann MP  [44.536, 518.031, 266.176, 548.535]
0 Expenditure on Entitlements paid by the  [44.536, 450.271, 372.136, 475.691]
0 Department of Finance  [44.536, 425.863, 231.976, 451.283]
0 1 July to 31 December 2014  [44.536, 377.695, 267.256, 403.495]
0 Final Report  [44.536, 306.843, 135.13, 329.757]
1 1 July to 31 December 2014  [31.658, 567.114, 145.668, 579.884]
1 Ms Gai Brodtmann MP  [31.658, 542.998, 142.478, 558.25]
1 Summary of Parliamentary Expenditure  [278.403, 503.011, 508.143, 520.889]
1 Paid between 1 July and 31 December 2014  [294.243, 483.961, 492.386, 498.008]
1 Ms Gai Brodtmann MP  [31.226, 402.775, 105.106, 412.943]
1 Canberra  [154.059, 402.775, 183.931, 412.943]
1 $708.00  [237.003, 403.313, 260.019, 412.21]
1 $0.00  [289.995, 403.313, 305.927, 412.21]
1 $2,771.03  [335.211, 403.313, 363.512, 412.21]
1 $0.00  [388.995, 403.313, 404.927, 412.21]
1 $7,131.82  [433.059, 403.313, 461.36, 412.21]
1 $66,530.61  [481.011, 403.313, 512.854, 412.21]
1 $18,142.40  [526.515, 403.313, 558.358, 412.21]
1 $57,005.25  [577.635, 403.313, 609.478, 412.21]
1 $2,820.78  [647.619, 403.313, 675.92, 412.21]
1 $0.00  [721.635, 403.313, 737.567, 412.21]
1 1-10 See Explanatory Notes  [50.018, 49.62, 130.836, 60.532]
1 Name  [31.226, 432.871, 50.962, 443.087]
1 Home Base  [154.059, 432.871, 191.363, 443.087]
1 Travelling  [231.387, 437.767, 265.707, 447.983]
1 Allowance 1  [228.579, 427.975, 268.553, 438.191]
1 Overseas  [281.859, 437.767, 314.059, 447.983]
1 Travel 2  [285.099, 427.975, 310.961, 438.191]
1 Domestic  [332.907, 442.663, 365.835, 452.879]
1 Scheduled  [331.323, 432.871, 367.411, 443.087]
1 Fares 3  [337.875, 423.079, 360.929, 433.295]
1 Charter 4  [381.867, 432.871, 412.193, 443.087]
1 Car Costs 5  [428.523, 432.871, 464.393, 443.087]
1 Office  [486.123, 437.767, 507.723, 447.983]
1 Facilities 6  [479.859, 427.975, 514.001, 438.191]
1 Office Fit  [526.515, 437.767, 558.315, 447.983]
1 Outs 7  [531.771, 427.975, 552.809, 438.191]
1 Administrative  [568.059, 432.871, 618.979, 443.087]
1 Office  [582.747, 442.663, 604.347, 452.879]
1 Costs 8  [582.027, 423.079, 605.081, 433.295]
1 Telecommunications 9  [624.651, 432.871, 699.041, 443.087]
1 Family Travel  [706.659, 437.767, 752.603, 447.983]
1 Costs 10  [716.307, 427.975, 742.903, 438.191]
1 Page 1 of 17  [718.245, 19.404, 763.209, 29.718]
2 1 July to 31 December 2014  [30.362, 747.114, 144.372, 759.884]
2 Ms Gai Brodtmann MP  [30.362, 722.998, 141.182, 738.25]
2 Summary of Parliamentary Expenditure by Period  [170.979, 683.267, 438.506, 699.868]
2 Expenses From  [348.099, 633.041, 410.189, 645.811]
2 1 July 2014  [364.515, 620.873, 410.175, 633.643]
2 Expenses Before  [476.979, 633.041, 545.179, 645.811]
2 1 July 2014  [499.515, 620.873, 545.175, 633.643]
2 Parliamentary Travelling Allowance  [52.106, 587.681, 195.196, 600.391]
2 Fares  [52.106, 531.161, 73.846, 543.871]
2 Private-Plated Vehicle  [52.106, 474.641, 141.426, 487.351]
2 COMCAR  [52.106, 457.649, 89.126, 470.359]
2 Office Consumables and Services  [52.106, 381.329, 185.516, 394.039]
2 Printing and Communications  [52.106, 364.337, 172.096, 377.047]
2 Publications  [52.106, 347.273, 101.416, 359.983]
2 Telecommunications - Usage  [52.106, 310.553, 168.876, 323.263]
2 Telecommunications - Residential - Official  [52.106, 293.489, 225.046, 306.199]
2 Family Travel Costs  [39.146, 273.761, 118.656, 286.531]
2 Total Expenditure  [39.146, 252.775, 120.37, 266.822]
2 $708.00  [377.331, 587.681, 410.211, 600.391]
2 $2,771.03  [369.771, 531.161, 410.201, 543.871]
2 $4,668.12  [369.771, 474.641, 410.201, 487.351]
2 $1,593.51  [369.771, 457.649, 410.201, 470.359]
2 $8,788.44  [369.771, 381.329, 410.201, 394.039]
2 $7,076.19  [369.771, 364.337, 410.201, 377.047]
2 $265.91  [377.331, 347.273, 410.211, 359.983]
2 $1,887.74  [369.771, 310.553, 410.201, 323.263]
2 $933.04  [377.331, 293.489, 410.211, 306.199]
2 $0.00  [387.411, 273.761, 410.171, 286.471]
2 $113,550.24  [354.291, 252.775, 410.149, 266.822]
2 $0.00  [522.411, 587.681, 545.171, 600.391]
2 $0.00  [522.411, 531.161, 545.171, 543.871]
2 $870.19  [512.331, 474.641, 545.211, 487.351]
2 $0.00  [522.411, 457.649, 545.171, 470.359]
2 $193.28  [512.331, 381.329, 545.211, 394.039]
2 $40,681.43  [499.659, 364.337, 545.149, 377.047]
2 $0.00  [522.411, 347.273, 545.171, 359.983]
2 $0.00  [522.411, 310.553, 545.171, 323.263]
2 $0.00  [522.411, 293.489, 545.171, 306.199]
2 $0.00  [522.411, 273.761, 545.171, 286.471]
2 $41,559.65  [494.835, 252.775, 545.127, 266.822]
2 Travelling Allowance  [39.146, 604.745, 125.316, 617.515]
2 Overseas Travel  [39.146, 567.953, 105.036, 580.723]
2 $0.00  [387.411, 567.953, 410.171, 580.663]
2 $0.00  [522.411, 567.953, 545.171, 580.663]
2 Domestic Scheduled Fares  [39.146, 548.153, 147.486, 560.923]
2 Charter  [39.146, 511.433, 70.316, 524.203]
2 $0.00  [387.411, 511.433, 410.171, 524.143]
2 $0.00  [522.411, 511.433, 545.171, 524.143]
2 Car Costs  [39.146, 491.633, 77.256, 504.403]
2 Office Facilities  [39.146, 437.849, 102.106, 450.619]
2 $66,715.86  [364.659, 437.849, 410.149, 450.559]
2 -$185.25  [509.235, 437.849, 545.175, 450.559]
2 Office Fit Outs  [39.146, 418.121, 98.456, 430.891]
2 $18,142.40  [364.659, 418.121, 410.149, 430.831]
2 $0.00  [522.411, 418.121, 545.171, 430.831]
2 Office Administrative Costs  [39.146, 398.321, 151.876, 411.091]
2 Telecommunications  [39.146, 327.545, 125.316, 340.315]
2 Page 2 of 17  [538.245, 19.404, 583.209, 29.718]
3 Ms Gai Brodtmann MP  [44.536, 518.031, 266.176, 548.535]
3 Supporting Information for Expenditure on Entitlements  [44.536, 452.643, 454.018, 475.863]
3 paid between 1 July and 31 December 2014 relating to  [44.536, 430.683, 445.18, 453.903]
3 usage from 1 July 2014  [44.536, 408.723, 211.972, 431.943]
3 Final Report  [44.536, 342.843, 135.13, 365.757]
3 Page 3 of 17  [521.521, 19.404, 566.485, 29.718]
4 1 July to 31 December 2014  [31.658, 747.114, 145.668, 759.884]
4 Ms Gai Brodtmann MP  [31.658, 722.998, 142.478, 738.25]
4 Summary of Parliamentary Expenditure  [174.147, 646.661, 436.707, 667.093]
4 Expenses from 1 July 2014  [230.667, 629.521, 380.397, 647.315]
4 Parliamentary Travelling Allowance  [80.618, 565.217, 223.708, 577.927]
4 Fares  [80.618, 531.233, 102.358, 543.943]
4 Car Costs  [67.586, 514.169, 105.696, 526.939]
4 Private-Plated Vehicle  [80.618, 497.177, 169.938, 509.887]
4 COMCAR  [80.618, 480.185, 117.638, 492.895]
4 Office Facilities  [67.586, 463.193, 130.546, 475.963]
4 Office Fit Outs  [67.586, 446.201, 126.896, 458.971]
4 Office Administrative Costs  [67.586, 429.137, 180.316, 441.907]
4 Office Consumables and Services  [80.618, 412.145, 214.028, 424.855]
4 Printing and Communications  [80.618, 395.153, 200.608, 407.863]
4 Publications  [80.618, 378.161, 129.928, 390.871]
4 Telecommunications - Usage  [80.618, 344.105, 197.388, 356.815]
4 Telecommunications - Residential - Official  [80.618, 327.113, 253.558, 339.823]
4 This Period  [492.531, 599.273, 538.611, 612.043]
4 $708.00  [505.779, 565.217, 538.659, 577.927]
4 $2,771.03  [498.219, 531.233, 538.649, 543.943]
4 $4,668.12  [498.219, 497.177, 538.649, 509.887]
4 $1,593.51  [498.219, 480.185, 538.649, 492.895]
4 $66,715.86  [493.107, 463.193, 538.597, 475.903]
4 $18,142.40  [493.107, 446.201, 538.597, 458.911]
4 $8,788.44  [498.219, 412.145, 538.649, 424.855]
4 $7,076.19  [498.219, 395.153, 538.649, 407.863]
4 $265.91  [505.779, 378.161, 538.659, 390.871]
4 $1,887.74  [498.219, 344.105, 538.649, 356.815]
4 $933.04  [505.779, 327.113, 538.659, 339.823]
4 Travelling Allowance  [67.586, 582.209, 153.756, 594.979]
4 Domestic Scheduled Fares  [67.586, 548.225, 175.926, 560.995]
4 Telecommunications  [67.586, 361.097, 153.756, 373.867]
4 Page 4 of 17  [538.245, 19.404, 583.209, 29.718]
5 1 July to 31 December 2014  [31.658, 747.114, 145.668, 759.884]
5 Ms Gai Brodtmann MP  [31.658, 722.998, 142.478, 738.25]
5 Travelling Allowance  [30.866, 691.729, 151.504, 709.607]
5 Parliamentary Travelling Allowance  [30.866, 673.077, 207.566, 688.401]
5 Transaction Details - From 1 July 2014  [390.651, 722.998, 578.655, 738.322]
5 Date From  [30.866, 646.971, 70.115, 658.464]
5 28 Jul 14  [30.866, 633.181, 59.25, 643.349]
5 Date To  [89.114, 646.971, 118.184, 658.464]
5 29 Jul 14  [89.114, 633.181, 117.498, 643.349]
5 Location  [145.923, 646.971, 177.729, 658.464]
5 Adelaide  [145.923, 633.181, 174.395, 643.349]
5 Details  [222.459, 646.971, 248.199, 658.464]
5 Shadow Parliamentary Secretary - Official  [222.459, 633.181, 359.051, 643.349]
5 Business  [222.459, 623.389, 250.395, 633.557]
5 2  [385.395, 633.181, 389.443, 643.349]
5 2  [385.179, 608.379, 389.733, 619.872]
5 Rate  [421.251, 646.971, 438.387, 658.464]
5 $354.00  [416.643, 633.181, 442.947, 643.349]
5 Amount  [526.875, 646.971, 557.232, 658.464]
5 $708.00  [530.907, 633.181, 557.211, 643.349]
5 $708.00  [527.451, 608.379, 557.178, 619.872]
5 No. of  [374.955, 657.987, 399.858, 669.48]
5 Nights  [375.459, 646.971, 399.372, 658.464]
5 Spouse  [463.083, 646.971, 489.921, 658.464]
5 Page 5 of 17  [538.245, 19.404, 583.209, 29.718]
6 1 July to 31 December 2014  [31.658, 747.114, 145.668, 759.884]
6 Ms Gai Brodtmann MP  [31.658, 722.998, 142.478, 738.25]
6 Domestic Scheduled Fares  [30.362, 691.729, 182.038, 709.607]
6 Fares  [30.362, 673.077, 56.846, 688.401]
6 Details  [30.362, 655.937, 58.962, 668.707]
6 28 Jul 14 - Canberra to Adelaide  [30.362, 642.181, 133.658, 652.349]
6 30 Jul 14 - Adelaide to Sydney  [30.362, 626.629, 127.066, 636.797]
6 30 Jul 14 - Sydney to Canberra  [30.362, 611.149, 128.466, 621.317]
6 22 Sep 14 - Canberra to Melbourne  [30.362, 595.669, 144.674, 605.837]
6 22 Sep 14 - Melbourne to Canberra  [30.362, 580.117, 144.674, 590.285]
6 19 Nov 14 - Canberra to Sydney  [30.362, 564.637, 132.874, 574.805]
6 19 Nov 14 - Sydney to Canberra  [30.362, 549.157, 132.874, 559.325]
6 28 Nov 14 - Canberra to Sydney  [30.362, 533.605, 132.874, 543.773]
6 28 Nov 14 - Sydney to Canberra  [30.362, 518.125, 132.874, 528.293]
6 Transaction Details - From 1 July 2014  [393.387, 722.998, 581.391, 738.322]
6 Amount  [435.075, 655.937, 468.805, 668.707]
6 $459.04  [442.491, 642.181, 468.795, 652.349]
6 $476.85  [442.491, 626.629, 468.795, 636.797]
6 $344.14  [442.491, 595.669, 468.795, 605.837]
6 $344.12  [442.491, 580.117, 468.795, 590.285]
6 $280.81  [442.491, 564.637, 468.795, 574.805]
6 $280.81  [442.491, 549.157, 468.795, 559.325]
6 $292.63  [442.491, 533.605, 468.795, 543.773]
6 $292.63  [442.491, 518.125, 468.795, 528.293]
6 $2,771.03  [432.195, 501.387, 468.789, 512.88]
6 Notes  [502.539, 655.937, 526.959, 668.707]
6 Page 6 of 17  [538.245, 19.404, 583.209, 29.718]
7 1 July to 31 December 2014  [31.658, 747.114, 145.668, 759.884]
7 Ms Gai Brodtmann MP  [31.658, 722.998, 142.478, 738.25]
7 Car Costs  [30.362, 691.729, 83.716, 709.607]
7 Private-Plated Vehicle  [30.362, 673.077, 140.462, 688.401]
7 Details  [30.362, 655.937, 58.962, 668.707]
7 Fuel 12 Jul 14  [30.362, 642.181, 74.234, 652.349]
7 Lease 18 Jul to 17 Aug 14  [30.362, 626.629, 111.818, 636.797]
7 Fuel 2 Aug 14  [30.362, 611.149, 74.194, 621.317]
7 Lease 18 Aug to 17 Sep 14  [30.362, 595.669, 115.09, 605.837]
7 Fuel 31 Aug to 15 Sep 14  [30.362, 580.117, 110.498, 590.285]
7 Lease 18 Sep to 17 Oct14  [30.362, 564.637, 112.042, 574.805]
7 Fuel 29 Sep 14  [30.362, 549.157, 79.314, 559.325]
7 Lease 18 Oct to 17 Nov 14  [30.362, 533.605, 114.986, 543.773]
7 Fuel 24 Oct to 15 Nov 14  [30.362, 518.125, 110.394, 528.293]
7 Accident excess 28 Oct 14  [30.362, 502.573, 116.242, 512.741]
7 Lease 18 Nov to 17 Dec 14  [30.362, 487.093, 115.914, 497.261]
7 COMCAR  [30.362, 421.725, 75.662, 437.049]
7 Details  [30.362, 404.585, 58.962, 417.355]
7 28 Jul 14 - Canberra  [30.362, 390.829, 94.682, 400.997]
7 28 Jul 14 - Adelaide  [30.362, 375.349, 93.282, 385.517]
7 28 Jul 14 - Adelaide  [30.362, 359.797, 93.282, 369.965]
7 28 Jul 14 - Adelaide  [30.362, 344.317, 93.282, 354.485]
7 28 Jul 14 - Adelaide  [30.362, 328.837, 93.282, 339.005]
7 29 Jul 14 - Adelaide  [30.362, 313.285, 93.282, 323.453]
7 30 Jul 14 - Adelaide  [30.362, 297.805, 93.282, 307.973]
7 30 Jul 14 - Adelaide  [30.362, 282.325, 93.282, 292.493]
7 30 Jul 14 - Canberra  [30.362, 266.773, 94.682, 276.941]
7 22 Sep 14 - Canberra  [30.362, 251.293, 97.954, 261.461]
7 22 Sep 14 - Melbourne  [30.362, 235.741, 104.298, 245.909]
7 22 Sep 14 - Melbourne  [30.362, 220.261, 104.298, 230.429]
7 22 Sep 14 - Canberra  [30.362, 204.781, 97.954, 214.949]
7 29 Oct 14 - Canberra  [30.362, 189.229, 97.45, 199.397]
7 11 Nov 14 - Canberra  [30.362, 173.749, 99.09, 183.917]
7 11 Nov 14 - Canberra  [30.362, 158.197, 99.09, 168.365]
7 19 Nov 14 - Canberra  [30.362, 142.717, 99.09, 152.885]
7 19 Nov 14 - Sydney  [30.362, 127.237, 92.498, 137.405]
7 19 Nov 14 - Canberra  [30.362, 111.685, 99.09, 121.853]
7 21 Nov 14 - Canberra  [30.362, 96.205, 99.09, 106.373]
7 21 Nov 14 - Canberra  [30.362, 80.653, 99.09, 90.821]
7 28 Nov 14 - Sydney  [30.362, 65.173, 92.498, 75.341]
7 Transaction Details - From 1 July 2014  [393.387, 722.998, 581.391, 738.322]
7 Amount  [435.075, 655.937, 468.805, 668.707]
7 $79.65  [446.523, 642.181, 468.779, 652.349]
7 $713.79  [442.491, 626.629, 468.795, 636.797]
7 $76.65  [446.523, 611.149, 468.779, 621.317]
7 $713.79  [442.491, 595.669, 468.795, 605.837]
7 $145.93  [442.491, 580.117, 468.795, 590.285]
7 $713.79  [442.491, 564.637, 468.795, 574.805]
7 $76.51  [446.523, 549.157, 468.779, 559.325]
7 $713.79  [442.491, 533.605, 468.795, 543.773]
7 $220.43  [442.491, 518.125, 468.795, 528.293]
7 $500.00  [442.491, 502.573, 468.795, 512.741]
7 $713.79  [442.491, 487.093, 468.795, 497.261]
7 $4,668.12  [432.195, 470.427, 468.789, 481.92]
7 Amount  [435.075, 404.585, 468.805, 417.355]
7 $40.00  [446.523, 390.829, 468.779, 400.997]
7 $41.80  [446.523, 375.349, 468.779, 385.517]
7 $40.00  [446.523, 359.797, 468.779, 369.965]
7 $187.33  [442.491, 344.317, 468.795, 354.485]
7 $347.15  [442.491, 328.837, 468.795, 339.005]
7 $66.81  [446.523, 313.285, 468.779, 323.453]
7 $40.00  [446.523, 297.805, 468.779, 307.973]
7 $40.00  [446.523, 282.325, 468.779, 292.493]
7 $41.80  [446.523, 266.773, 468.779, 276.941]
7 $40.00  [446.523, 251.293, 468.779, 261.461]
7 $74.67  [446.523, 235.741, 468.779, 245.909]
7 $120.52  [442.491, 220.261, 468.795, 230.429]
7 $41.80  [446.523, 204.781, 468.779, 214.949]
7 $40.00  [446.523, 189.229, 468.779, 199.397]
7 $40.00  [446.523, 173.749, 468.779, 183.917]
7 $40.00  [446.523, 158.197, 468.779, 168.365]
7 $40.00  [446.523, 142.717, 468.779, 152.885]
7 $41.92  [446.523, 127.237, 468.779, 137.405]
7 $41.80  [446.523, 111.685, 468.779, 121.853]
7 $41.92  [446.523, 96.205, 468.779, 106.373]
7 $40.00  [446.523, 80.653, 468.779, 90.821]
7 $40.00  [446.523, 65.173, 468.779, 75.341]
7 Page 7 of 17  [538.245, 19.404, 583.209, 29.718]
8 1 July to 31 December 2014  [31.658, 747.114, 145.668, 759.884]
8 Ms Gai Brodtmann MP  [31.658, 722.998, 142.478, 738.25]
8 Car Costs  [30.362, 691.729, 83.716, 709.607]
8 COMCAR  [30.362, 673.077, 75.662, 688.401]
8 Details  [30.362, 655.937, 58.962, 668.707]
8 28 Nov 14 - Sydney  [30.362, 642.181, 92.498, 652.349]
8 28 Nov 14 - Canberra  [30.362, 626.629, 99.09, 636.797]
8 Transaction Details - From 1 July 2014  [393.387, 722.998, 581.391, 738.322]
8 Amount  [435.075, 655.937, 468.805, 668.707]
8 $64.19  [446.523, 642.181, 468.779, 652.349]
8 $41.80  [446.523, 626.629, 468.779, 636.797]
8 $1,593.51  [432.195, 609.963, 468.789, 621.456]
8 Page 8 of 17  [538.245, 19.404, 583.209, 29.718]
9 1 July to 31 December 2014  [31.658, 747.114, 145.668, 759.884]
9 Ms Gai Brodtmann MP  [31.658, 722.998, 142.478, 738.25]
9 Office Facilities  [30.362, 691.729, 118.506, 709.607]
9 Details  [30.362, 657.593, 58.962, 670.363]
9 Aggregated Total  [30.362, 643.837, 85.962, 654.005]
9 Transaction Details - From 1 July 2014  [393.387, 722.998, 581.391, 738.322]
9 Amount  [435.075, 657.593, 468.805, 670.363]
9 $66,715.86  [432.195, 643.837, 468.771, 654.053]
9 Page 9 of 17  [538.245, 19.404, 583.209, 29.718]
10 1 July to 31 December 2014  [31.658, 747.114, 145.668, 759.884]
10 Ms Gai Brodtmann MP  [31.658, 722.998, 142.478, 738.25]
10 Office Fit Outs  [30.362, 691.729, 113.396, 709.607]
10 Details  [30.362, 657.593, 58.962, 670.363]
10 Aggregated Total  [30.362, 643.837, 85.962, 654.005]
10 Transaction Details - From 1 July 2014  [393.387, 722.998, 581.391, 738.322]
10 Amount  [435.075, 657.593, 468.805, 670.363]
10 $18,142.40  [432.195, 643.837, 468.771, 654.053]
10 Page 10 of 17  [533.682, 19.404, 583.209, 29.718]
11 1 July to 31 December 2014  [31.658, 747.114, 145.668, 759.884]
11 Ms Gai Brodtmann MP  [31.658, 722.998, 142.478, 738.25]
11 Office Administrative Costs  [30.362, 691.729, 188.184, 709.607]
11 Office Consumables and Services  [30.362, 673.077, 193.658, 688.401]
11 Details  [30.362, 655.937, 58.962, 668.707]
11 MFD Monochrome copy charge 28 Jul to 27 Aug 14  [30.362, 642.181, 196.13, 652.349]
11 MFD Colour copy charge 28 Jul to 27 Aug 14  [30.362, 626.629, 173.242, 636.797]
11 General office consumables 1 Aug to 31 Aug 14  [30.362, 611.149, 183.514, 621.317]
11 Photocopy paper 1 Aug to 31 Aug 14  [30.362, 595.669, 149.146, 605.837]
11 MFD Monochrome copy charge 28 Aug to 27 Sep 14  [30.362, 580.117, 199.402, 590.285]
11 MFD Colour copy charge 28 Aug to 27 Sep 14  [30.362, 564.637, 176.514, 574.805]
11 General office consumables 1 Sep to 30 Sep 14  [30.362, 549.157, 182.042, 559.325]
11 Software reimbursement 2014/15  [30.362, 533.605, 141.154, 543.773]
11 MFD Colour copy charge 28 Sep to 27 Oct 14  [30.362, 518.125, 175.274, 528.293]
11 MFD Monochrome copy charge 28 Sep to 27 Oct 14  [30.362, 502.573, 198.162, 512.741]
11 General office consumables 1 Oct to 31 Oct 14  [30.362, 487.093, 181.034, 497.261]
11 Photocopy paper 1 Oct to 31 Oct 14  [30.362, 471.613, 146.666, 481.781]
11 MFD Colour copy charge 28 Oct to 27 Nov 14  [30.362, 456.061, 176.41, 466.229]
11 MFD Monochrome copy charge 28 Oct to 27 Nov 14  [30.362, 440.581, 199.298, 450.749]
11 General office consumables 1 Nov to 30 Nov 14  [30.362, 425.029, 184.314, 435.197]
11 Flags 1 Dec 14  [30.362, 409.549, 76.426, 419.717]
11 Flags 1 Dec 14  [30.362, 394.069, 76.426, 404.237]
11 Flags 1 Dec 14  [30.362, 378.517, 76.426, 388.685]
11 Flags 1 Dec 14  [30.362, 363.037, 76.426, 373.205]
11 Flags 1 Dec 14  [30.362, 347.485, 76.426, 357.653]
11 Printing and Communications  [30.362, 282.189, 177.578, 297.513]
11 Details  [30.362, 265.049, 58.962, 277.819]
11 Distribution credit 1 Sep to 30 Sep 14  [30.362, 251.293, 151.17, 261.461]
11 Distribution 1 Sep to 30 Sep 14  [30.362, 235.741, 130.522, 245.909]
11 Distribution credit 1 Oct to 31 Oct 14  [30.362, 220.261, 150.162, 230.429]
11 Distribution 1 Oct to 31 Oct 14  [30.362, 204.781, 129.514, 214.949]
11 Publications  [30.362, 139.413, 91.166, 154.737]
11 Details  [30.362, 122.273, 58.962, 135.043]
11 182 The Canberra Times 26 Jul 14 to 24 Jan 15  [30.362, 108.517, 180.17, 118.685]
11 Transaction Details - From 1 July 2014  [393.387, 722.998, 581.391, 738.322]
11 Amount  [435.075, 655.937, 468.805, 668.707]
11 $16.12  [446.523, 642.181, 468.779, 652.349]
11 $10.40  [446.523, 626.629, 468.779, 636.797]
11 $257.92  [442.491, 611.149, 468.795, 621.317]
11 $27.52  [446.523, 595.669, 468.779, 605.837]
11 $35.47  [446.523, 580.117, 468.779, 590.285]
11 $687.83  [442.491, 564.637, 468.795, 574.805]
11 $401.77  [442.491, 549.157, 468.795, 559.325]
11 $1,500.00  [436.443, 533.605, 468.787, 543.773]
11 $47.82  [446.523, 518.125, 468.779, 528.293]
11 $5.85  [450.627, 502.573, 468.835, 512.741]
11 $140.89  [442.491, 487.093, 468.795, 497.261]
11 $116.40  [442.491, 471.613, 468.795, 481.781]
11 $52.23  [446.523, 456.061, 468.779, 466.229]
11 $4.13  [450.627, 440.581, 468.835, 450.749]
11 $397.72  [442.491, 425.029, 468.795, 435.197]
11 $540.91  [442.491, 409.549, 468.795, 419.717]
11 $1,131.82  [436.443, 394.069, 468.787, 404.237]
11 $554.55  [442.491, 378.517, 468.795, 388.685]

In [94]:
x = 2

1<x<2.1

True

SelectorSyntaxError: Expected selector, got <DELIM '/' at 0>

In [50]:
x0,y0,x1,y1

'LTTextLineHorizontal'

In [47]:
y.

In [114]:
df.groupby('Type').sum()['Amount']

Type
Additional Printing and Communications             2423.19
COMCAR                                          1637429.17
COMCAR - Family                                   32309.36
Cabcharge                                         55918.72
Cabcharge - Family                                  138.55
Car Costs                                             0.00
Charter                                               0.00
Daily Expense Allowance                            9102.00
Domestic Scheduled Fares                              0.00
Domestic Scheduled Fares - Family                998265.87
Electorate                                       320327.86
Family Travel Costs                                   0.00
Fares                                           6468418.72
Ministerial Visits                              2678365.28
Office Administrative Costs                           0.00
Office Consumables and Services                 2742120.88
Office Facilities                              16435076.10
Office Fit Outs                                 4668925.48
Office Holder                                    324871.42
Official Visits                                  261444.72
Other Car Costs                                   71928.95
Other Car Costs - Family                           1574.64
Overseas Study Entitlement                       114227.05
Overseas Travel                                       0.00
Parking                                            8501.28
Parliamentary Delegations                        541137.33
Parliamentary Travelling Allowance              4046184.73
Printing and Communications                     7980114.63
Private Vehicle Allowance                         51804.10
Private Vehicle Allowance - Family                 3149.56
Private-Plated Vehicle                          1745282.67
Publications                                     380087.02
Representing Australia                            25040.23
Representing a Minister                            1602.58
SMOS Approved                                     56513.83
Telecommunications                                    0.00
Telecommunications - Residential - Official      154658.60
Telecommunications - Usage                       653178.76
Total Expenditure                              52475329.25
Travelling Allowance                                  0.00
Name: Amount, dtype: float64

In [128]:
for cat in df['Type'].unique():
    display(cat,df[df['Type'] == cat].groupby('Name').sum().sort('Amount',ascending=False)[:3])

/Applications/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

'Parliamentary Travelling Allowance'

                                Amount
Name
The Hon Warren Snowdon MP        43615
The Hon Warren Truss MP          36930
Senator the Hon Nigel Scullion   36348

'Fares'

                                   Amount
Name
Senator Rachel Siewert           89849.19
Senator the Hon Mathias Cormann  84984.66
The Hon Michael Keenan MP        79415.42

'Private-Plated Vehicle'

                             Amount
Name
The Hon Warren Snowdon MP  41020.92
Mr Rick Wilson MP          24581.07
The Hon Barnaby Joyce MP   22397.98

'COMCAR'

                           Amount
Name
The Hon Tony Abbott MP   77352.24
The Hon Bill Shorten MP  41624.31
The Hon Bob Katter MP    41442.39

'Office Consumables and Services'

                          Amount
Name
Mr Michael Sukkar MP    48564.78
Mr Andrew Giles MP      41643.39
Dr Andrew Southcott MP  33248.04

'Printing and Communications'

                                Amount
Name
The Hon Dr Sharman Stone MP  131945.38
The Hon David Feeney MP      130692.56
Mr Don Randall MP            101198.42

'Publications'

                            Amount
Name
The Hon Philip Ruddock MP  7169.84
Mr Michael Sukkar MP       4396.20
Senator the Hon Kim Carr   4006.52

'Telecommunications - Usage'

                                             Amount
Name
The Hon Warren Snowdon MP                   8879.24
Senator the Hon Concetta Fierravanti-Wells  8405.02
The Hon Sussan Ley MP                       8323.04

'Telecommunications - Residential - Official'

                                 Amount
Name
Mr Angus Taylor MP              2605.48
Senator the Hon Bill Heffernan  2286.20
Senator the Hon Stephen Parry   2279.29

'Family Travel Costs'

                           Amount
Name
Dr Alan Eggleston               0
Senator Dean Smith              0
The Hon Bronwyn Bishop MP       0

'Total Expenditure'

                             Amount
Name
The Hon Tony Abbott MP   1057675.62
The Hon Julie Bishop MP   866658.46
Mr Tony Pasin MP          851485.76

'Overseas Travel'

                                Amount
Name
Dr Alan Eggleston                    0
Senator the Hon Marise Payne         0
Senator the Hon Bill Heffernan       0

'Charter'

                                                    Amount
Name
Dr Andrew Southcott MP                                   0
Senator the Hon Mathias Cormann (a/g(cid:3)Assi...       0
Senator the Hon Penny Wong                               0

'Office Facilities'

                               Amount
Name
The Hon Scott Morrison MP   203477.98
The Hon Julie Bishop MP     193269.86
Senator the Hon Joe Ludwig  186646.94

'Office Fit Outs'

                          Amount
Name
Mr Tony Pasin MP       506752.40
Senator Jacqui Lambie  356793.46
Mr Tim Watts MP        340454.90

'Travelling Allowance'

                                                    Amount
Name
Dr Mal Washer                                            0
Senator the Hon Mathias Cormann (a/g(cid:3)Assi...       0
The Hon Matt Thistlethwaite MP                           0

'Domestic Scheduled Fares'

                          Amount
Name
Dr Mal Washer                  0
The Hon Barnaby Joyce MP       0
The Hon Tony Abbott MP         0

'Car Costs'

                Amount
Name
Dr Mal Washer        0
Mr Barry Haase       0
Mr Mike Symon        0

'Office Administrative Costs'

                   Amount
Name
Dr Mal Washer           0
Mr Gary Humphries       0
Mr John Forrest         0

'Telecommunications'

                   Amount
Name
Dr Mal Washer           0
Mr Barry Haase          0
Mr Gary Humphries       0

'Overseas Study Entitlement'

                                  Amount
Name
Senator the Hon Stephen Conroy  13100.88
The Hon Laurie Ferguson MP      13100.88
Mr Steve Irons MP               12598.38

'Daily Expense Allowance'

                     Amount
Name
Senator Zed Seselja    2896
Dr Peter Hendy MP      2761
The Hon Kate Lundy     1766

'Parliamentary Delegations'

                               Amount
Name
The Hon Dr Sharman Stone MP  65835.81
The Hon Alan Griffin MP      53929.31
Senator Alex Gallacher       29519.96

'Parking'

                                Amount
Name
Senator the Hon Mitch Fifield  1775.72
Mr Dan Tehan MP                1176.72
Senator Barry O'Sullivan        710.88

'Representing Australia'

                                 Amount
Name
The Hon Matt Thistlethwaite MP  3742.47
Mr Bert van Manen MP            3712.40
Mrs Louise Markus MP            3352.64

'Cabcharge'

                             Amount
Name
The Hon Bernie Ripoll MP    8881.44
Senator the Hon Joe Ludwig  3479.14
The Hon Tony Burke MP       2483.72

'Other Car Costs'

                          Amount
Name
Ms Melissa Price MP      5019.52
The Hon Gary Gray AO MP  3774.16
Senator Nova Peris OAM   3711.43

'Domestic Scheduled Fares - Family'

                           Amount
Name
The Hon Peter Dutton MP  28415.12
Senator Nova Peris OAM   25042.65
The Hon Bill Shorten MP  23376.55

'COMCAR - Family'

                           Amount
Name
The Hon Tony Abbott MP    3083.38
The Hon Bill Shorten MP   1773.72
The Hon Kevin Andrews MP  1386.25

'Official Visits'

                               Amount
Name
The Hon Bronwyn Bishop MP   131714.06
The Hon Tanya Plibersek MP   39115.28
The Hon Bill Shorten MP      37884.99

'Additional Printing and Communications'

                             Amount
Name
The Hon Tanya Plibersek MP  1980.00
The Hon Bill Shorten MP      443.19

'Ministerial Visits'

                              Amount
Name
The Hon Tony Abbott MP     814115.78
The Hon Julie Bishop MP    478748.31
The Hon Andrew Robb AO MP  279702.10

'Other Car Costs - Family'

                         Amount
Name
Senator Nova Peris OAM   392.76
Mr Andrew Laming MP      375.73
The Hon Warren Truss MP  374.53

'Electorate'

                          Amount
Name
The Hon Bob Katter MP   52580.10
Ms Melissa Price MP     30891.86
The Hon Bruce Scott MP  30730.00

'Private Vehicle Allowance - Family'

                             Amount
Name
Senator Ricky Muir          1627.92
The Hon Joel Fitzgibbon MP   675.00
Senator the Hon Fiona Nash   565.44

'Private Vehicle Allowance'

                          Amount
Name
Mr Jason Wood MP         8843.00
Ms Karen McNamara MP     4894.75
Mr Nickolas Varvaris MP  4878.48

'Cabcharge - Family'

                               Amount
Name
Senator the Hon Stephen Parry  138.55

'Representing a Minister'

                                Amount
Name
The Hon Bob Baldwin MP         1480.00
Senator the Hon Ian Macdonald   122.58

'SMOS Approved'

                             Amount
Name
Mr Mark Coulton MP         35181.80
The Hon Darren Chester MP  15714.76
The Hon Alan Tudge MP       3027.27

'Office Holder'

                             Amount
Name
The Hon Barnaby Joyce MP   75807.27
The Hon Warren Truss MP    67117.27
The Hon Ian Macfarlane MP  50410.64

In [130]:
df[df['Type'] == 'SMOS Approved']

,Name,Type,Period,Amount
1496,The Hon Alan Tudge MP,SMOS Approved,Expenses From 1 July 2014,0.00
1497,The Hon Alan Tudge MP,SMOS Approved,Expenses Before 1 July 2014,3027.27
7008,The Hon Michael McCormack MP,SMOS Approved,Expenses From 1 July 2014,2590.00
7024,The Hon Michael McCormack MP,SMOS Approved,Expenses Before 1 July 2014,0.00
7440,The Hon Darren Chester MP,SMOS Approved,Expenses From 1 July 2014,10804.69
7454,The Hon Darren Chester MP,SMOS Approved,Expenses Before 1 July 2014,4910.07
7804,Mr Mark Coulton MP,SMOS Approved,Expenses From 1 July 2014,28272.70
7820,Mr Mark Coulton MP,SMOS Approved,Expenses Before 1 July 2014,6909.10